.book-in-shelf__container {
    text-align: center;
    padding-top: 10px;
}

.book-image-in-shelf {
    min-width: 150px;
    height: 224px;
    border-radius: 5px;
}

.book-in-shelf__title{
    margin-top: 5px;
}

.book-in-shelf__add-button-container {
    display: inline-block;
    position: relative;
    max-width: 150px;
    max-height: 224px;
    text-align: end;
}

.book-in-shelf__add-button{
   position: absolute;
   bottom: 5px;
   right: 5px;
}
