.book-in-shelf__container {
    text-align: center;
    padding-top: 10px;

    
}

.book-image-in-shelf {
    width: 150px;
    height: 224px;
    border-radius: 5px;
    transition: all 0.2s;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(33,33,33,.2); 
}
.book-image-in-shelf:hover {
    box-shadow: 0 0 50px rgba(33,33,33,.2); 
    transform: scale(1.03);
}

.btn--hide {
    display: none;
}

.book-image-in-shelf:hover +.btn--hide, .btn--hide:hover{
    display: block;
}

.book-image-in-shelf:hover{
    opacity: 0.7;
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
}


.book-in-shelf__title{
    margin-top: 5px;
}

.book-in-shelf__buttons-container {
    display: inline-block;
    position: relative;
    max-width: 150px;
    max-height: 224px;
    text-align: end;
 

}

.book-in-shelf__add-button{
   position: absolute;
   bottom: 5px;
   right: 5px;
   

}

.book-in-shelf__delete-btn {
    position: absolute;
    top: -6px;
    right: -6px;
}
