.btn {
background:none;
border: none;
outline: none;
font-weight: 500;
font-size: inherit;
border-radius: 5px;
padding: 10px 20px;
cursor: pointer;
color: white;
transition: all 0.2s;

}

.btn--container {
    text-align: center;
    padding-bottom: 20px;
}

.btn--primary {
background-color: hsl(209, 98%, 60%) ;
color: white;
}
.btn--secondary {
background-color: hsl(51, 95%, 63%) ;
color: white;
}
.btn--primary:hover {
background-color: hsl(209, 98%, 45%) ;
}
.btn--normal {
    background-color: hsl(0, 0%, 57%) ;
    color: white;
}
.btn--normal:hover {
    background-color: hsl(0, 0%, 35%) ;
}

.btn--optional {
background-color: hsl(32, 100%, 60%);
}
.btn--optional:hover {
background-color: hsl(32, 100%, 35%);
}
.btn--add {
background-color: hsl(138, 100%, 42%);
}
.btn--add:hover {
background-color: hsl(138, 100%, 35%);
}

.btn--danger {
background-color: hsl(0, 100%, 60%);
}

.btn--danger:hover {
background-color: hsl(0, 100%, 35%);
}

.btn--see-more {
    border-radius:20px ;
}

.btn--in-bag {
   padding: 5px 5px ;
    font-size: 14px;
    max-width: 150px;
}
.btn--in-search-book {
   padding: 10px 20px ;
    font-size: 14px;
    max-width: 150px;
    max-height: 40px;
   
}

.btn--close-page {
    font-size: 1.5rem;
    padding: 2px 10px;
    background-color:#2f2f2f;
    align-items: center;
    margin-right: 0;
}

.btn--circle {
    display: table;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 15px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 2rem;
    vertical-align: middle;
    text-decoration: none;
}

.btn--small {
   transform: scale(0.5, 0.5);
}




