.shelf-container {
    background-color: white;
    
    padding: 40px;
}

.shelf-book-list__grid {
    display: grid;
    grid-template-columns: repeat(3,auto);
    row-gap: 10px;
    column-gap: 10px;
    
}

@media (max-width: 1080px) {
    .shelf-book-list__grid {
        grid-template-columns: repeat(2,auto);
    }
}